:root {
    --primary-v1: #55C9C9;
    --primary-v2: #79D4D4;
    --primary-v3: #35D7CD;
    --primary-light-v1: #BAF0F3;
    --primary-light-v2: #81D8D9;
    --primary-light-v3: #DFF9F7;
    
    --danger-v1: #E97B7B;
    --danger-v2: #F29797;
    --danger-light-v1: #F8E3E3;
    
    --success-v1: #56C26E;
    --success-v2: #76CE89;
    --success-light-v1: #81D48E;
    --success-light-v2: #C8EBCF;
    
    --warning-v1: #E0B84C;
    --warning-v2: #EFD387;
    --warning-light-v1: #ECD8A3;
    --warning-light-v2: #F9F1DB;
    --warning-alt-v1: #E3823B;
    --warning-light-alt-v1: #FFE3C3;

    --info-v1: #2B65AC;
    --info-v2: #356CD7;
    --info-light-v1: #DCE1F2;
    --info-alt-v1: #A656C2;
    --info-light-alt-v1: #F4D6FF;

    --dark-v1: #3D4754;
    --dark-v2: #8990A3;
    --light-v1: #FEFEFE;
    --light-v2: #E5E5E5;
    
    --gray-v1: #B9B9B9;
    --gray-v2: #C4C4C4;
    --gray-light-v1: #D4D4D4;
    --gray-light-v2: #D9D9D9;
    --gray-light-v3: #F3F3F3;
    
    --overlay: rgba(36, 50, 84, .85);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

body {
    background: #FFFFFF;
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
}

.mt-20px {
    margin-top: 20px !important;
}

.mt-30px {
    margin-top: 30px !important;
}

@media (min-width:600px) { /* Tablet Retrato | Mobile Paisagem */ }
@media (min-width:801px) { /* Notebook e Desktop Pequeno | Tablet Paisagem */ }
@media (min-width:1025px) { /* Tablets Grandes | Notebooks e Desktop Grandes */ }
@media (min-width: 1281px) { /* Notebooks e Desktops HD */ }