:root {
    --primary-v1: #55C9C9;
    --primary-v2: #79D4D4;
    --primary-light-v1: #BAF0F3;
    --danger-v1: #E97B7B;
    --info-v1: #2B65AC;
    --dark-v1: #3D4754;
    --dark-v2: #8990A3;
    --light-v1: #FEFEFE;
    --gray-v1: #B9B9B9;
    --gray-v2: #D4D4D4;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

body {
    background: #FFFFFF;
    font-family: Roboto, sans-serif;
    overflow: hidden;
}

.mt-20px {
    margin-top: 20px !important;
}

.mt-30px {
    margin-top: 30px !important;
}

@media (min-width:600px) { /* Tablet Retrato | Mobile Paisagem */ }
@media (min-width:801px) { /* Notebook e Desktop Pequeno | Tablet Paisagem */ }
@media (min-width:1025px) { /* Tablets Grandes | Notebooks e Desktop Grandes */ }
@media (min-width: 1281px) { /* Notebooks e Desktops HD */ }